
<header>

    <!-- Burger menu set up -->
    <!-- use a hidden check box which is accessed within the CSS -->
 <input type="checkbox" id="burgercheck">
      <label id="burger" for="burgercheck">
        <!-- Each div is a line in the burger-->
        <div></div>
        <div></div>
        <div></div>
    </label>

    
    <!-- Start of navigation items -->
    <nav>
     
      

      </div>
     
<ul>
  <li><a href="../../home"> Home</a></li>
  <li><a href="../../groups"> my groups</a></li>
  <li><a href="../../event"> My Events</a></li>
  <li><a href="../../tasks"> My tasks</a></li>
  <li><a href="www.google.co.uk"> My Account</a></li>
  <li><a href="../../auth/logout"> Sign Out</a></li>
</ul>
    </nav>


  </header>

 