<div id="eventCreateModal" class="event-modal hidden">
 
  <div class="event-modal-content">
    <span id="closeModalBtn" class="close-modal">&times;</span>

    <div id="modalEventDetails"></div>
  
  </div>
</div>