/* Created 10/07/2025 by Tommy Mannix
/////////////////////////////////////
This style sheet is for round buttons for adding new tasks and 
events, to be displayed as position fixed with a + symbol */


.AbsoluteRoundal{
width: 5rem;
height: 5rem;
border-radius: 5em;
position: fixed;
z-index: 50;
right: 2rem;
bottom:2rem;
font-size: 3rem;
transition: 0.5s;
display: flex;
justify-content: center;
align-items: center;
line-height: 1;
}


.plus {
    display: inline-block;
    transition: 0.5s;
  }
  
  .AbsoluteRoundal:hover .plus {
    transform: rotate(90deg);
  }