.taskitems{
    list-style: none;
    padding:0;
    margin: 0;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.taskitems li{
    min-height: 3em;
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    justify-content: center;
    align-items: center;
    text-align: center;

}